<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h4>A collaboration network.</h4>
                <br>
                <h2>Agile Humanities Agency</h2>
                <br>
                <h4>Make it agile, by design.</h4>
                <br>				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->